.footer {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 999;
  }
  
  .footer a {
    color: #fff;
  }

  footer>p {
    color: #28a745;
  }
  
  .footer a:hover {
    color: #28a745;
  }
  
  .footer .social>* {
    margin-right: 30px;
  }